.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}
.paragraph{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid greenyellow;
    width: 170px;
    border-radius: 20px;
}